{% extends "base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class='container'>
        {% for link, heading, description in articles_links %}
        <a href= {{ link }}>
            <strong>{{ heading }}</strong>
            <p>{{ description }}</p>
        </a>
        <div class='row'>
        
        <form class='share_article'>
            <input type=text name="phone_number" placeholder="Phone Number">
            <input type="hidden" name="share_article_heading" value= "{{ heading }}"> 
            <input type="hidden" name="share_article_description" value= "{{ description }}"> 
            <input type="hidden" name="share_article_url" value= "{{ link }}"> 
            <input type="submit" class="btn btn-outline-secondary btn-sm" name="share_article_submit_btn" value="Share">
        </form>
        <form class='save_article'>
            <input type="hidden" name="save_article_heading" value= "{{ heading }}"> 
            <input type="hidden" name="save_article_description" value= "{{ description }}"> 
            <input type="hidden" name="save_article_url" value= "{{ link }}">
            <input type="submit" class="btn btn-outline-danger btn-sm" name="save_article_submit_btn" value="Save"> 
        </form>

        </div>
        <br>
        {% endfor %}
    </div>

{% endblock %}

{% block jscript %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
//ajax request for saving articles
$('.save_article').on('submit',function(evt) {
    evt.preventDefault();
    let url = '/save_article';
    let article_heading = $(this).find('input[name="save_article_heading"]').val();
    let article_url = $(this).find('input[name="save_article_url"]').val();
    let formData = {'heading': article_heading,'url': article_url};
    $.get(url, formData, () => {
        $(this).find('input[name="save_article_submit_btn"]').fadeOut();
    });
});

//ajax request for sharing articles 
$('.share_article').on('submit',function(evt) {
    evt.preventDefault();
    let url = '/share_article';
    let article_heading = $(this).find('input[name="share_article_heading"]').val();
    let article_url = $(this).find('input[name="share_article_url"]').val();
    let article_description = $(this).find('input[name="share_article_description"]').val();
    let phone_number = $(this).find('input[name="phone_number"]').val();
    let formData = {'heading': article_heading,'url': article_url, 'description': article_description, 'phone_number': phone_number};
    $.get(url, formData, () => {
        $(this).find('input[name="phone_number"]').val("");
    });
});

</script>

{% endblock %}