{% extends "base.html" %}

{% block title%}HOMEPAGE{% endblock %}

{% block content %}
    <div class="container">
        <form id="session_lang">
            Select your preferred language:
            <select id="language" name="language">
                <option value="en">English</option>
                <option value="zh">Chinese</option>
                <option value="ko">Korean</option>
                <option value="lo">Lao</option>
                <option value="tl">Tagalog</option>
                <option value="th">Thai</option>
                <option value="vi">Vietnamese</option>
            </select>
            <input type='submit' class="btn btn-outline-secondary btn-sm">
        </form>
        <div id="session_message"></div>

        <div class="card text-center" style="width: 18em;">
            <div class="card-header">
                Today's Tokens:
            </div>
            <ul class="list-group list-group-flush">
                {% for token in tokens %}
                    <a href="/{{ token }}">
                        <li class="list-group-item">{{ token }}</li>
                    </a>
            </ul>
                {% endfor %}
        </div>
    </div>
{% endblock %}

{% block jscript %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
//ajax request to save language to flask session
$('#session_lang').on('submit', function(evt) {
    evt.preventDefault();
    let url = '/save_lang_to_session';
    let formData = $('#language option:selected').val();
    $.get(url, {'language':formData}, (res) => {
      $('#session_message').html(res);
    });
});
</script>

{% endblock %}