{% extends "base.html" %}

{% block title%}HOMEPAGE{% endblock %}

{% block content %}
    <div class="row">
    <img src="https://pbs.twimg.com/profile_images/1097820307388334080/9ddg5F6v_400x400.png" alt="sanders">
    <img src="https://pbs.twimg.com/profile_images/1235244704859664385/oneP6BrA_400x400.jpg" atl="biden">
    <img src="https://pbs.twimg.com/profile_images/1215406626049413121/LiVKh64l_400x400.jpg" alt="warren">
    <img src="https://pbs.twimg.com/profile_images/615510114447953920/_1c4TTMM_400x400.jpg" alt="bloomberg">
    <img src="https://pbs.twimg.com/profile_images/1216174212517388288/52ugsj_B_400x400.jpg" atl="gabbard">
    </div>
    <br>
    <form id="session_lang">
        Choose your language:
        <select id="language" name="language">
            <option value="en">English</option>
            <option value="zh">Chinese</option>
            <option value="ko">Korean</option>
            <option value="lo">Lao</option>
            <option value="tl">Tagalog</option>
            <option value="th">Thai</option>
            <option value="vi">Vietnamese</option>
        </select>
        <input type='submit'>
    </form>
    <div id="session_message"></div>
    <div class='container'>
        {% for token in tokens %}
        <a href="/{{ token }}">
            <h1>{{ token }}</h1>
        </a>
        {% endfor %}
    </div>
{% endblock %}

{% block jscript %}
<script src="http://code.jquery.com/jquery.js"></script>
<script>
$('#session_lang').on('submit', function(evt) {
    evt.preventDefault();
    let url = '/save_lang_to_session';
    let formData = $('#language option:selected').val();
    $.get(url, {'language':formData}, (res) => {
      $('#session_message').html(res);
    });
});
</script>

{% endblock %}